name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  secret-detection:
    name: Secret Detection
    if: github.event_name == 'pull_request'
    uses: jae-labs/.github/.github/workflows/secret_detection.yml@main
    secrets: inherit
  code-scanning:
    name: Code Scanning
    if: github.event_name == 'pull_request'
    uses: jae-labs/.github/.github/workflows/code_scanning.yml@main
  algolia:
    name: Algolia Index
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: algolia/docsearch-scraper
    env:
      APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
      API_KEY: ${{ secrets.API_KEY }}
      CONFIG: '{"index_name":"jae","start_urls":["https://justanother.engineer/docs/"],"stop_urls":[],"selectors":{"lvl0":"FIXME h1","lvl1":"FIXME h2","lvl2":"FIXME h3","lvl3":"FIXME h4","lvl4":"FIXME h5","lvl5":"FIXME h6","text":"FIXME p, FIXME li"}}'
    steps:
      - name: Run Algolia Index
        run: echo "Done!"

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "25"
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Prepare public folder
        run: |
          rm -rf public
          mv build public
      - name: Upload artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    name: Deploy Pages
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
